# python build files
venv*
*.pyc
.env
logs/*

# data files
data/MediaIndex.json
data/DownloadsInProgress.json

# dev dir
test/dummy_directories/dump_complete
test/dummy_directories/tv
test/dummy_directories/recycle_bin
