version: "2.1"

services:
  qbittorrent:
    build: ./qbittorrent-container
    container_name: qbittorrent-container
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/London
      - WEBUI_PORT=80
      - DUMP_COMPLETE_DIR=/media${DOWNLOADS_COMPLETE_DIR}
      - DUMP_TEMP_DIR=/media${DOWNLOADS_TEMP_DIR}
      - MAIL_NOTIFICATION_ADDRESS=${MAIL_NOTIFICATION_ADDRESS}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - QBITTORRENT_WEBUI_PORT=80
      - MEDIA_DIR=/home/tom/projects/media_grab/temp-delete-me
    ports:
      - 6881:6881
      - 6881:6881/udp
      - ${QBITTORRENT_WEBUI_PORT}:80
    volumes:
      - ./media_grab-container/data/:/data:rw
      - ./qbittorrent-container/qbittorrent-conf/:/config:rw

    expose:
      - 80
    restart: always
    networks:
      - media_grab_webapp_default

networks:
  media_grab_webapp_default:
    external:
      name: media_grab_webapp_default
