version: "2.1"

services:
  qbittorrent:
    build: ./qbittorrent-container
    container_name: qbittorrent-container
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/London
      - WEBUI_PORT=80
      - DUMP_COMPLETE_DIR=/qbit-media${DOWNLOADS_COMPLETE_DIR}
      - DUMP_TEMP_DIR=/qbit-media${DOWNLOADS_TEMP_DIR}
      - MAIL_NOTIFICATION_ADDRESS=${MAIL_NOTIFICATION_ADDRESS}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - QBITTORRENT_WEBUI_PORT=80
      - QBT_CONFIG_PATH=./config
    volumes:
      - media-volume:/qbit-media:rw
    ports:
      - 6881:6881
      - 6881:6881/udp
      - ${QBITTORRENT_WEBUI_PORT}:80
    expose:
      - 80
    restart: always
    networks:
      - media_grab_webapp_default

  media_grab:
    build: ./media_grab-container
    container_name: media_grab-container
    restart: always
    environment:
      - APP_NAME=Media Grab
      - QBT_URL=http://qbittorrent-container:80
      - QBT_USERNAME=admin
      - QBT_PASSWORD=adminadmin
      - MEDIA_FILE=/data/MediaIndex.json
      - ENVIRONMENT=production
      - DUMP_COMPLETE_DIR=/qbit-media${DOWNLOADS_COMPLETE_DIR}
      - RECYCLE_BIN_DIR=/qbit-media${RECYCLE_DIR}
      - LOGS_DIR=${LOGS_DIR}
      - THE_MOVIE_DATABASE_API_KEY=${THE_MOVIE_DATABASE_API_KEY}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_NOTIFICATION_ADDRESS=${MAIL_NOTIFICATION_ADDRESS}
      - TV_TARGET_DIR=/qbit-media${TV_TARGET_DIR}
      - MEDIA_INDEX_FILE_LOCATION=/data/MediaIndex.json
      - MEDIA_GRAB_DIRECTORY=/proj-dir
    volumes:
      - media-volume:/qbit-media:rw
      - data-volume:/data:rw
    expose:
      - 8080
    networks:
      - media_grab_webapp_default

  nginx-container:
    build: ./nginx-container
    container_name: nginx-container
    restart: always
    ports:
      - "5000:80"
    depends_on:
      - "media_grab"
    networks:
      - media_grab_webapp_default

networks:
  media_grab_webapp_default:
    external:
      name: media_grab_webapp_default

volumes:
  data-volume:
    name: data-volume