<!DOCTYPE html>
<html>

<head>
	<title>Media Grab control panel</title>
	<meta charset=utf-8>
	<link rel="stylesheet" href="/public/css/index.css">
	<link rel="icon" href="/favicon.ico">

</head>

<body>

	<div id="titlePanel">
		<h1>Media Grab control</h1>
	</div>

	<div id="pageContent" class="container">
		<div class="row">
			<div class="col-lg-8">
				<div id="displayPanel" class="panel">
					<h2>Current MediaIndex.json content:</h2>

					<div id="mediaIndexContent">
						<table>
							<tr>
								<th>Name</th>
								<th>Season</th>
								<th>Episode</th>
								<th>Blacklist</th>
								<th>Recommendations</th>
								<th>Remove</th>
							</tr>
							<tr v-for="(item, itemIndex) in content"
								v-bind:class="item['typeSpecificData']['latestEpisode'].content != 1 ? 'active' : 'inactive'">

								<td>
									<input 	type="text" v-if="item['name'].edit" 
											v-model="item['name'].content"							
											@blur="confirmItemEdit(item, item['name'], itemIndex);"
											@keyup.enter="confirmItemEdit(item, item['name'], itemIndex);">
									<div v-else>
										<label @click="makeFieldEditable(item['name']);"> {{ item['name'].content }} </label>
									</div>
								</td>
								<td>
									<input type="number" v-if="item['typeSpecificData']['latestSeason'].edit"
										v-model="item['typeSpecificData']['latestSeason'].content"
										@blur="confirmItemEdit(item, item['typeSpecificData']['latestSeason'], itemIndex);"
										@keyup.enter="confirmItemEdit(item, item['typeSpecificData']['latestSeason'], itemIndex);">
									<div v-else>
										<label @click="makeFieldEditable(item['typeSpecificData']['latestSeason']);"> {{
											item['typeSpecificData']['latestSeason'].content }} </label>
									</div>
								</td>
								<td>
									<input type="number" v-if="item['typeSpecificData']['latestEpisode'].edit"
										v-model="item['typeSpecificData']['latestEpisode'].content"
										@blur="confirmItemEdit(item, item['typeSpecificData']['latestEpisode'], itemIndex);"
										@keyup.enter="confirmItemEdit(item, item['typeSpecificData']['latestEpisode'], itemIndex);">
									<div v-else>
										<label @click="makeFieldEditable(item['typeSpecificData']['latestEpisode']);"> {{
											item['typeSpecificData']['latestEpisode'].content }} </label>
									</div>
								</td>
								<td class="accordion-panel">
									<div class="accordion" id="accordionExample">
										<div class="accordion-item">
											<h4 class="accordion-header" id="headingTwo">
												{{ item.blacklistTerms.length }}
											</h4>
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												v-bind:data-bs-target="'#blacklist-accordion-' + itemIndex"
												aria-expanded="false"
												v-bind:aria-controls="'blacklist-accordion-' + itemIndex">
											</button>
											<div v-bind:id="'blacklist-accordion-' + itemIndex"
												class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
												<div class="accordion-body">

													<div id="blacklistPanel" class="flex-direction row">
														<div class="blacklistPanelColumn">
															<div v-for="blacklistTerm in item.blacklistTerms">
																<input v-if="blacklistTerm.edit" v-model="blacklistTerm.content"
																	@blur="confirmItemEdit(item, blacklistTerm, itemIndex);"
																	@keyup.enter="confirmItemEdit(item, blacklistTerm, itemIndex);">
																<div v-else>
																	<button id="blacklistTermRemoveButton" class="btn" i
																		@click="showModal(() => { removeBlacklistTerm(item, itemIndex, blacklistTerm); }, `Are you sure you want to remove blacklist term ${blacklistTerm.content}?`);"><i
																			class="fa fa-close"></i></button>
																	<label @click="makeFieldEditable(blacklistTerm);">
																		{{ blacklistTerm.content }}
																	</label>
																</div>
															</div>
														</div>
														<div class="blacklistPanelColumn">
															<input v-if="item.newPotentialBlacklistItem.edit" v-model="item.newPotentialBlacklistItem.content"
																@blur="addNewBlacklistTerm(item, itemIndex);" @keyup.enter="addNewBlacklistTerm(item, itemIndex);">
															<button class="btn" v-else v-on:click="item.newPotentialBlacklistItem.edit = true;">
																<i class="fa fa-plus" aria-hidden="true"></i>
															</button>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</td>
								<td class="accordion-panel">
									<div class="accordion" id="accordionExample">
										<div class="accordion-item">
											<h4 class="accordion-header" id="headingTwo">
												{{ item.similarShows.length }}
											</h4>
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" v-bind:data-bs-target="'#recommendation-accordion-' + itemIndex"
												aria-expanded="false" v-bind:aria-controls="'recommendation-accordion-' + itemIndex">
											</button>
											<div v-bind:id="'recommendation-accordion-' + itemIndex" class="accordion-collapse collapse" aria-labelledby="headingTwo"
												data-bs-parent="#accordionExample">
												<div class="accordion-body">
													
													<div id="recommendationPanel" class="flex-direction row">
														<div v-for="similarShow in item.similarShows">
															<!-- code to allow editing similar show content, not sure if i want this yet -->
															<!-- <input v-if="similarShow.edit" v-model="similarShow.content"
																@blur="confirmItemEdit(item, similarShow, itemIndex);"
																@keyup.enter="confirmItemEdit(item, similarShow, itemIndex);">
															<div v-else> -->
															<div>
																<button id="recommendationAddButton" class="btn" i
																	@click="showModal(() => { addSimilarShow(similarShow); }, `Are you sure you want to add recommendation ${similarShow.content} to the MediaIndex file?`);"><i
																		class="fa fa-plus"></i></button>
																<!-- <label @click="makeFieldEditable(similarShow);"> -->
																<label>
																	<a v-bind:href="'https://en.wikipedia.org/wiki/' + similarShow.content" target="_blank">
																		{{ similarShow.content }}
																	</a>
																</label>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</td>
								<td>
									<button class="btn" i @click="showModal(() => { deleteMediaInfoRecord(itemIndex); }, `Are you sure you want to remove ${item.name.content}?`);"><i class="fa fa-close"></i></button>
								</td>
							</tr>
						</table>

						<div id="modalPanel">
							<modal v-if="modalVisible">
								<h3 slot="header">{{ modalText }}</h3>
								<div slot="footer">
									<button class="btn modal-default-button" @click="confirmCloseModal();">
									OK
									</button>
									<button class="btn modal-default-button" @click="cancelCloseModal();">
									Cancel
									</button>
								</div>
							</modal>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div id="inputPanel" class="panel">
					<h2>Add new MediaIndex record:</h2>

					<form name="newMediaInfoRecord" class="inputForm">

						<div class="row">
							<div class="col-sm-3">
								<label for="mediaName">Media Name</label>
							</div>
							<div class="col-sm-7">
								<input type="text" v-model="mediaName" id="mediaName" name="mediaName"
									placeholder="Enter the name of the tv show you want to watch..">
							</div>

							<div class="col-sm-2">
								<button class="btn main-button" id="checkTorrentTitlesButton" type="button" @click="checkTorrentTitles">Check</button>
							</div>
						</div>


						<div class="row">
							<div class="col-sm-3">
								<label for="latestSeason">Latest Season:</label>
							</div>
							<div class="col-sm-9">
								<input type="number" v-model="latestSeason" id="latestSeason" name="latestSeason" min="1">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<label for="latestEpisode">Latest Episode:</label>
							</div>
							<div class="col-sm-9">
								<input type="number" v-model="latestEpisode" id="latestEpisode" name="latestEpisode" min="1">
							</div>
						</div>

						<div class="row">
							<div>
								<label for="blacklistTerms">Blacklist terms:</label>
							</div>
							<div>
								<textarea id="blacklistTerms" v-model="blacklistTerms" name="blacklistTerms"
									placeholder="Enter terms to avoid while searching for this show, separated by commas.."
									style="height:200px"></textarea>
							</div>
						</div>
						<div class="row">
							<button class="btn main-button" type="button"@click="submitNewMediaInfoRecord">Submit</button>
						</div>

					</form>
				</div>

				<div id="torrentTitlePanel" class="container panel panel-default" v-if="showPanel">
					<div class="row">
						<div class="col-sm-10">
							<h4 id="torrentTitlePanelHeading">Available torrents:</h4>
						</div>
						<div class="col-sm-2">
							<button class="btn main-button" type="button" @click="clearTorrentTitles">Hide</button>
						</div>
					</div>
					<div class="row panel-body">
						<ul class="col-sm">
							<li v-for="torrentTitle in torrentTitles">
								{{ torrentTitle }}
							</li>
						</ul>
					</div>
				</div>

				<div id="triggerPanel" class="container panel panel-default">
					<div class="row panel-body">
						<div :class="spinnerParentClass">
							<button class="btn main-button" id="runMediaGrabButton" type="button" @click="runMediaGrab">
								Run MediaGrab
							</button>
				
							<span class="loader" v-if="running"></span>
						</div>
						<div class="col-sm">
							<p id="runMediaGrabResponsePanel">{{ responseMessage }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="templatePanel">
			<script type="text/x-template" id="modal-template">
				<transition name="modal">
				  <div class="modal-mask">
					<div class="modal-wrapper">
					  <div class="modal-container">
		  
						<div class="modal-header">
						  <slot name="header">
							Are you sure?
						  </slot>
						</div>
		  
						<div class="modal-footer">
						  <slot name="footer"></slot>
						</div>
					  </div>
					</div>
				  </div>
				</transition>
			  </script>
		</div>
	</div>

	<!-- script references -->
	<script type="text/javascript" src=/public/js/index.js></script>
</body>

</html>