# env to be fed into docker-compose.yml

QBITTORRENT_WEBUI_PORT=
DOWNLOADS_COMPLETE_DIR=
TV_TARGET_DIR=
RECYCLE_DIR=
THE_MOVIE_DATABASE_API_KEY=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_NOTIFICATION_ADDRESS=
HOST_QBITTORRENT_CONFIG_DIR=
SAMBA_DRIVE_IP_ADDRESS=
SAMBA_DRIVE_ROOT=
SAMBA_USERNAME=
SAMBA_PASSWORD=
LOGS_DIR=