QBT_URL=http://192.168.0.102:8081
QBT_USERNAME=netpi
QBT_PASSWORD=NKa1q6&zCf^@7$wq
MEDIA_FILE=data/MediaIndex.json
MAIL_USERNAME=app.dev.notifications.tc@gmail.com
MAIL_PASSWORD=NKa1q6&zCf^@7$wq
MAIL_NOTIFICATION_ADDRESS=tom.connolly@protonmail.com
ENVIRONMENT=production
DUMP_COMPLETE_DIR=/netShare/download/dump_complete
TV_TARGET_DIR=/netShare/TV
RECYCLE_BIN_DIR=/netShare/download/recycle_bin/
LOGS_DIR=logs
THE_MOVIE_DATABASE_API_KEY=840d0e8c5c7051961bce196da992bd9d